{
	"extends": [
	  "react-app",
	  "react-app/jest"
	],
	"parserOptions": {
		"sourceType": "module"
	  },
	"rules": {
	  "prefer-const": "error",
	  "semi": ["warn", "always"],
	  "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
	}
  }
  
  