.shopsPage {
	display: flex;
	justify-content: space-between;
	padding: 20px 30px;
	.shopList {
		border-radius: 5px;
		box-shadow: -1px 4px 32px -15px rgba(0,0,0,0.75);
		padding: 20px 100px 100px 100px;
		text-align: center;
		ul li {
			border: 1px solid black;
			border-radius: 5px;
			padding: 12px 50px;
			margin-top: 25px;
			font-style: italic;
			&:hover {
				cursor: pointer;
			}
		}
		.active {
			background: #5932EA;
			color: #fff;
		}
	}
	.productList {
		padding: 10px 20px;
		box-shadow: -1px 4px 32px -15px rgba(0,0,0,0.75);
		border-radius: 5px;
		margin-bottom: 25px;
		h2 {
			text-align: center;
			margin-bottom: 10px;
		}
		.productCards {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			grid-column-gap: 15px;
			grid-row-gap: 15px;
			.productCard {
				box-shadow: -1px 4px 32px -15px rgba(0,0,0,0.75);
				border-radius: 5px;
				padding: 20px 30px;
				img {
					width: 350px;
					height: 250px;
				}
				h4 {
					margin-top: 10px;
					font-size: 25px;
				}
				button {
					width: 150px;
					height: 35px;
					margin-left: 200px;
					background: #5932EA;
					border: 1px solid #200f5e;
					color: #fff;
					border-radius: 4px;
						&:hover {
						cursor: pointer;
						background:#DF0404;
						color: #fff;
					}
				}
			}
		}
	}
}