* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

ul {
	list-style: none;
}

.App {
	min-height: 100vh;
  	min-width: 100vw;
	background: #F7F4FF;
}

